
:root {
  --primary-color: #007bff;
  --secondary-color: #f0ead6;
  --text-color: #333;
  --text-muted-color: #555;
  --background-color: #ffffff;
  --highlight-color: #0056b3;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-family: 'Arial', sans-serif;
  --border-radius: 10px;
  --transition-speed: 0.3s;
  --spacing-unit: 1rem;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(white);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


html, body, #root, .App {
  margin: 0;
  height: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
