

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #e25a5f, #fad0c4, #88607d, #ffdde1);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


html, body, #root, .App {
  margin: 0;
  height: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
