body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


html, body, #root, .App {
  margin: 0;
  height: 100%;
}

